<div class="col-md-12 p-2">
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#usuarioModal">
      <i class="fa fa-save"></i> Nuevo Usuario
    </button>
    <table class="table mt-2 table-bordered">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Empleado</th>
          <th>Rol</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listUsuarios">
          <td>{{ item.usuarioID }}</td>
          <td>{{ item.username }}</td>
          <td>{{ getEmpleadoName(item.empleadoID) }}</td>
          <td>{{ item.rol }}</td>
          <td>{{ item.estado ? 'Activo' : 'Inactivo' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="modal fade" id="usuarioModal" tabindex="-1" aria-labelledby="usuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5"> NUEVO USUARIO </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="newEmpleado()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formUsuario">
            <div class="mb-4 row">
              <label class="col-sm-3 col-form-label">Username</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" formControlName="username" required>
              </div>
            </div>
            <div class="mb-4 row">
              <label class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" formControlName="password" required>
              </div>
            </div>
            <div class="mb-4 row">
                <label class="col-sm-3 col-form-label">Empleado</label>
                <div class="col-sm-9">
                  <select class="form-select" formControlName="empleadoID">
                    <option *ngFor="let empleado of listaEmpleados" [value]="empleado.empleadoID">
                      {{ empleado.nombre }} {{ empleado.apellido }}
                    </option>
                  </select>
                </div>
              </div>
            <div class="mb-4 row">
              <label class="col-sm-3 col-form-label">Rol</label>
              <div class="col-sm-9">
                <select class="form-select" formControlName="rol">
                  <option value="ROLE_ADMIN">Administrador</option>
                  <option value="ROLE_COCINA">Cocinero</option>
                  <option value="ROLE_MESERO">Mesero</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="button2" (click)="save()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

