/* navbar.component.css */

/* Personaliza el color del fondo de la navbar */
.navbar {
    background-color: #f8f9fa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el botón de cerrar sesión */
  .btn-outline-primary {
    border-color: #80603a;
    color: #80603a;
  }
  
  .btn-outline-primary:hover {
    background-color: #80603a;
    color: #fff;
  }
  
  /* Ajuste del logo o texto principal */
  .navbar-brand {
    font-weight: bold;
    color: #442F1B;
  }
  
  /* Color y estilos para los enlaces activos */
  .nav-link.active,
  .nav-link:hover {
    color: #281c10;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  