<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      LOS POSTES - 
      <span *ngIf="userRole === 'ROLE_ADMIN'">Admin</span>
      <span *ngIf="userRole === 'ROLE_USER'">Mesero</span>
      <!-- <span *ngIf="userRole === 'COCINA'">Cocina</span> -->
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <!-- Opciones para el rol ADMIN -->
        <ng-container *ngIf="userRole === 'ROLE_ADMIN'">
          <li *ngFor="let option of getAdminOptions()" class="nav-item dropdown" [ngClass]="{'dropdown': option.dropdown}">
            <a *ngIf="option.dropdown"
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ option.name }}
            </a>
            <ul *ngIf="option.dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let subOption of option.options">
                <a class="dropdown-item" [routerLink]="subOption.link">{{ subOption.name }}</a>
              </li>
            </ul>
            <a *ngIf="!option.dropdown" class="nav-link" [routerLink]="option.link">
              {{ option.name }}
            </a>
          </li>
        </ng-container>

        <!-- Opciones para el rol MESERO -->
        <ng-container *ngIf="userRole === 'ROLE_USER'">
          <li *ngFor="let option of getMeseroOptions()" class="nav-item">
            <a class="nav-link" [routerLink]="option.link">{{ option.name }}</a>
          </li>
        </ng-container>

        Opciones para el rol COCINA
        <!-- <ng-container *ngIf="userRole === 'ROLE_USER'">
          <li *ngFor="let option of getCocinaOptions()" class="nav-item">
            <a class="nav-link" [routerLink]="option.link">{{ option.name }}</a>
          </li>
        </ng-container> -->
      </ul>

      <!-- Botón de Cerrar Sesión -->
      <button class="btn btn-outline-primary" type="button">Cerrar Sesión</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
