<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOS POSTES - Admin</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Menú desplegable de Mantenedores -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="mantenedoresDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mantenedores
          </a>
          <ul class="dropdown-menu" aria-labelledby="mantenedoresDropdown">
            <li><a class="dropdown-item" [routerLink]="'/admin/categoria'">Categoría</a></li>
            <li><a class="dropdown-item" [routerLink]="'/admin/subcategorias'">SubCategoría</a></li>
            <li><a class="dropdown-item" [routerLink]="'/admin/medida-unidad'">Medida de Unidad</a></li>
            <li><a class="dropdown-item" [routerLink]="'/admin/usuario'">Usuario</a></li>
          </ul>
        </li>
        
        <!-- Opción de Consultas -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/admin/consultas'">Consultas</a>
        </li>

        <!-- Menú desplegable de Reportes -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="reportesDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Reportes
          </a>
          <ul class="dropdown-menu" aria-labelledby="reportesDropdown">
            <li><a class="dropdown-item" [routerLink]="'/admin/reportes'">Dashboard</a></li>
          </ul>
        </li>
      </ul>

      <!-- Botón de Cerrar Sesión -->
      <button class="btn btn-outline-primary" type="button">Cerrar Sesión</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
