<div class="col-md-12 p-2">
  <div class="row mb-3">
    <div class="col-12">
      <div class="d-flex gap-2">
        <button class="btn btn-warning flex-fill py-2" (click)="filterPendingOrders()">
          Pendientes
        </button>
        <button class="btn btn-success flex-fill py-2" (click)="filterAllOrders()">
          Todas
        </button>
        <button class="btn btn-info flex-fill py-2" (click)="filterProcessingOrders()">
          En Proceso
        </button>
      </div>
    </div>
  </div>


  <table class="table mt-2 table-bordered">
    <thead class="table-primary">
      <tr>
        <th>Orden #</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Comentarios</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orden of filteredOrdenes">
        <td>{{ orden.ordenID }}</td>
        <td>{{ getNombreProducto(orden.productoID) }}</td>
        <td>{{ orden.cantidad }}</td>
        <td>{{ orden.comentario || 'Sin comentarios' }}</td>
        <td>
        <span class="badge" 
              [ngClass]="{
                      'bg-warning': orden.condicion === 'Pendiente',
                      'bg-info': orden.condicion === 'Procesando',
                      'bg-success': orden.condicion === 'Completado'
                    }">
                    {{ orden.condicion }}
              </span>

        </td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-primary" (click)="iniciarPreparacion(orden)">
              <i class="fa fa-play"></i> Iniciar
            </button>
            <button class="btn btn-success" (click)="marcarCompletado(orden)">
              <i class="fa fa-check"></i> Completar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="filteredOrdenes.length === 0" class="alert alert-info text-center mt-2">
    No hay órdenes pendientes
  </div>
</div>