.table th,
.table td {
  text-align: center;
}

.btn-primary {
  width: 100%;
  padding: 0.7rem;
  background-color: #4eb15f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: #40904e;
}


.modal-header {
  color: #ffffff;
}

.modal-footer button {
  margin-right: 10px;
  width: 100px;
  height: 40px;
  font-size: 17px;
}

.action-icon {
  width: 20px;
  height: 20px;
}

.btn-sm img {
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.modal-header {
  background-color: hsl(203, 14%, 33%);
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.action-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}


/* Estilos para el header de la tabla */
.table thead.table-primary {
  background-color: #4c4842 !important;
}

.table thead.table-primary th {
  color: #ffffff;
  background-color: #4c4842 !important;
  border-color: #4c4842;
  font-weight: 600;
  padding: 12px 15px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font: Roboto;
}

/* Efecto hover en las celdas del header */
.table thead.table-primary th:hover {
  background-color: #4c4842 !important;
  transition: background-color 0.3s ease;
}

/* Eliminar bordes internos del header */
.table thead.table-primary th {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.table thead.table-primary th:last-child {
  border-right: none;
}

/* Estilo para la primera fila después del header */
.table tbody tr:first-child td {
  border-top: 2px solid #4c4842;
}

.btn-warning{
  color: floralwhite
}
