
.card {
    background-color: #f8f9fa;
    border-left: 4px solid #4e3c05;
    margin: 0 16px; 
}


.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 100%; /* Asegúrate de que el ancho sea lo que deseas */
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar contenido */
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s ease-in-out;
}

.button .button__text {
  color: var(--font-color);
  font-weight: 600;
  white-space: nowrap;
}

.button .button__icon {
  position: absolute;
  right: 0; /* Asegura que se alinee al extremo derecho */
  height: 100%;
  width: 0; /* Ancho inicial del ícono en la animación */
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover .button__icon {
  width: 100%; /* Anima el ancho del ícono al tamaño total del botón */
  right: 0;
}

.button:hover .button__text {
  color: transparent; /* Oculta el texto durante el hover */
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}